body { margin: 0; overflow: hidden; background: #000; cursor: crosshair; font-family: 'Outfit', sans-serif; }

.ui-overlay { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; pointer-events: none; mix-blend-mode: exclusion; width: 100%; }
h1 { font-size: 10vw; color: #fff; margin: 0; font-weight: 900; letter-spacing: -5px; }

.control-panel { position: fixed; bottom: 40px; left: 40px; border-left: 2px solid #00f3ff; padding-left: 20px; color: #00f3ff; font-family: 'Space Mono', monospace; font-size: 0.8rem; }

.deploy-btn { position: fixed; bottom: 40px; right: 40px; background: #00f3ff; color: #000; padding: 20px 50px; font-weight: bold; border: none; cursor: pointer; font-size: 1.2rem; clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px); transition: 0.3s; }
.deploy-btn:hover { background: #fff; box-shadow: 0 0 50px #00f3ff; }

.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 200; display: none; justify-content: center; align-items: center; }
.form-box { width: 500px; border: 2px solid #00f3ff; padding: 40px; background: #000; }
.close-btn { text-align: right; color: #00f3ff; cursor: pointer; font-family: 'Space Mono'; margin-bottom: 20px; }
h2 { color: #00f3ff; margin-top: 0; }

input { width: 100%; padding: 15px; margin: 10px 0; background: #001; border: 1px solid #00f3ff; color: #fff; font-family: 'Space Mono'; }
.static-btn { position: static; width: 100%; margin-top: 20px; }
